<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Boot Vue Admin LTE</title>
</head>

<div layout:fragment="v-template">
</div>

<div class="v-content" layout:fragment="content">
    <v-content-header
            :title="header.title"
            :dep="header.dep"
    ></v-content-header>
    <v-content-body>
        <v-box>
            <v-box-header title="Box Title">
                Box Header 내용
            </v-box-header>
            <v-box-body>
                Box Body 내용
            </v-box-body>
            <v-box-footer>
                Box Footer 내용
            </v-box-footer>
        </v-box>
    </v-content-body>
</div>

<script th:inline="javascript" layout:fragment="script">
    /*<![CDATA[*/
    (function () {
        new Vue({
            el: '.v-content',
            data: function () {
                return {
                    header: {
                        title: '본문 Title',
                        dep: ['본문경로1', '본문경로2']
                    }
                }
            }
        });
    })();
</script>

</html>